[Desktop Entry]
Type=Service
Name=KChart XBM Export Filter
Name[cs]=Exportní filtr do formátu XBM pro KChart
Name[nds]=XBM-Exportfilter för KChart
Name[pt]=Filtro de Exportação de XBM para o KChart
Name[pt_BR]=Filtro de exportação XBM para o KChart
Name[sv]=Kchart XBM-exportfilter
Name[uk]=Фільтр експорту XBM для KChart
Name[x-test]=xxKChart XBM Export Filterxx
X-KDE-Import=application/x-kchart
X-KDE-Export=image/x-xbm
X-KDE-Weight=1
X-KDE-Library=kchartgenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
