[Desktop Entry]
Type=Service
Name=KChart JPEG Export Filter
Name[cs]=Exportní filtr do formátu JPEG pro KChart
Name[de]=KChart-JPEG-Exportfilter
Name[es]=Filtro de exportación JPEG de KChart
Name[et]=KCharti JPEG ekspordifilter
Name[fr]=Filtre d'exportation JPEG de KChart
Name[it]=Filtro di esportazione JPEG per KChart
Name[km]=តម្រង​នាំចេញ​របស់ KChart JPEG
Name[nds]=JPEG-Exportfilter för KChart
Name[nl]=JPEG-exportfilter voor KChart
Name[pt]=Filtro de Exportação de JPEG para o KChart
Name[pt_BR]=Filtro de exportação JPEG para o KChart
Name[sv]=Kchart JPEG-exportfilter
Name[uk]=Фільтр експорту JPEG для KChart
Name[x-test]=xxKChart JPEG Export Filterxx
X-KDE-Import=application/x-kchart
X-KDE-Export=image/jpeg
X-KDE-Weight=1
X-KDE-Library=kchartgenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
