[Desktop Entry]
Type=Service
Name=KChart PNG Export Filter
Name[cs]=Exportní filtr do formátu PNG pro KChart
Name[nds]=PNG-Exportfilter för KChart
Name[pt]=Filtro de Exportação de PNG para o KChart
Name[pt_BR]=Filtro de exportação PNG para o KChart
Name[sv]=Kchart PNG-exportfilter
Name[uk]=Фільтр експорту PNG для KChart
Name[x-test]=xxKChart PNG Export Filterxx
X-KDE-Import=application/x-kchart
X-KDE-Export=image/png
X-KDE-Weight=1
X-KDE-Library=kchartgenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
