[Desktop Entry]
Type=Service
Name=KChart PNG Export Filter
Name[cs]=Exportní filtr do formátu PNG pro KChart
Name[de]=KChart-PNG-Exportfilter
Name[es]=Filtro de exportación PNG de KChart
Name[et]=KCharti PNG ekspordifilter
Name[fr]=Filtre d'exportation PNG de KChart
Name[ga]=Scagaire Easpórtála PNG KChart
Name[hu]=KChart PNG exportszűrő
Name[it]=Filtro di esportazione PNG per KChart
Name[km]=តម្រង​នាំចេញ KChart PNG
Name[nds]=PNG-Exportfilter för KChart
Name[nl]=PNG-exportfilter voor KChart
Name[pl]=Filtr eksportu PNG z KChart
Name[pt]=Filtro de Exportação de PNG para o KChart
Name[pt_BR]=Filtro de exportação PNG para o KChart
Name[sk]=Exportný filter KChart PNG
Name[sv]=Kchart PNG-exportfilter
Name[uk]=Фільтр експорту PNG для KChart
Name[x-test]=xxKChart PNG Export Filterxx
X-KDE-Import=application/x-kchart
X-KDE-Export=image/png
X-KDE-Weight=1
X-KDE-Library=kchartgenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
