[Desktop Entry]
Type=Service
Name=KChart BMP Export Filter
Name[cs]=Exportní filtr do formátu BMP pro KChart
Name[nds]=BMP-Exportfilter för KChart
Name[nl]=BMP-exportfilter voor KChart
Name[pt]=Filtro de Exportação de BMP para o KChart
Name[pt_BR]=Filtro de exportação BMP para o KChart
Name[sv]=Kchart BMP-exportfilter
Name[uk]=Фільтр експорту BMP для KChart
Name[x-test]=xxKChart BMP Export Filterxx
X-KDE-Import=application/x-kchart
X-KDE-Export=image/x-bmp
X-KDE-Weight=1
X-KDE-Library=kchartgenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
