[Desktop Entry]
Type=Service
X-KDE-Import=application/x-kchart
X-KDE-Export=video/x-mng
X-KDE-Weight=1
X-KDE-Library=kchartgenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
Name=KChart MNG Export Filter
Name[cs]=Exportní filtr do formátu MNG pro KChart
Name[nds]=KMNG-Exportfilter för KChart
Name[pt]=Filtro de Exportação de MNG para o KChart
Name[pt_BR]=Filtro de exportação MNG para o KChart
Name[sv]=Kchart MNG-exportfilter
Name[uk]=Фільтр експорту MNG для KChart
Name[x-test]=xxKChart MNG Export Filterxx
