[Desktop Entry]
Type=Service
Name=KChart XPM Export Filter
Name[bs]=KChart XPM izvozni filter
Name[cs]=Exportní filtr do formátu XPM pro KChart
Name[de]=KChart-XPM-Exportfilter
Name[es]=Filtro de exportación XPM de KChart
Name[et]=KCharti XPM-i ekspordifilter
Name[fr]=Filtre d'exportation « XPM » de KChart
Name[ga]=Scagaire Easpórtála XPM KChart
Name[hu]=KChart XPM exportszűrő
Name[it]=Filtro di esportazione XPM per KChart
Name[km]=តម្រង​នាំចេញ​របស់ KChart XPM
Name[mr]=के-चार्ट एक्सपीएम निर्यात गाळणी
Name[nds]=XPM-Exportfilter för KChart
Name[nl]=XPM-exportfilter voor KChart 
Name[pl]=Filtr eksportu XPM z KChart
Name[pt]=Filtro de Exportação de XPM para o KChart
Name[pt_BR]=Filtro de exportação XPM para o KChart
Name[sk]=Exportný filter KChart XPM
Name[sv]=Kchart XPM-exportfilter
Name[tr]=KChart XPM Aktarım Filtresi
Name[ug]=KChart XPM ئېكسپورت قىلىش سۈزگۈچى
Name[uk]=Фільтр експорту XPM для KChart
Name[x-test]=xxKChart XPM Export Filterxx
X-KDE-Import=application/x-kchart
X-KDE-Export=image/x-xpm
X-KDE-Weight=1
X-KDE-Library=kchartgenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
