[Desktop Entry]
Type=Service
Name=KChart BMP Export Filter
Name[bs]=KChart BMP izvozni filter
Name[cs]=Exportní filtr do formátu BMP pro KChart
Name[de]=KChart-BMP-Exportfilter
Name[es]=Filtro de exportación BMP de KChart
Name[et]=KCharti BMP ekspordifilter
Name[fr]=Filtre d'exportation BMP de KChart
Name[ga]=Scagaire Easpórtála BMP KChart
Name[hu]=KChart BMP exportszűrő
Name[it]=Filtro di esportazione BMP per KChart
Name[km]=តម្រង​នាំចេញ​របស់​ KChart BMP
Name[nds]=BMP-Exportfilter för KChart
Name[nl]=BMP-exportfilter voor KChart
Name[pl]=Filtr eksportu BMP z KChart
Name[pt]=Filtro de Exportação de BMP para o KChart
Name[pt_BR]=Filtro de exportação BMP para o KChart
Name[sk]=Exportný filter KChart BMP
Name[sv]=Kchart BMP-exportfilter
Name[uk]=Фільтр експорту BMP для KChart
Name[x-test]=xxKChart BMP Export Filterxx
X-KDE-Import=application/x-kchart
X-KDE-Export=image/x-bmp
X-KDE-Weight=1
X-KDE-Library=kchartgenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
