[Desktop Entry]
Name=KOffice Chart Component
X-KDE-Library=kchartpart
Type=Service
MimeType=application/vnd.oasis.opendocument.chart;application/vnd.oasis.opendocument.chart-template;application/x-kchart;
X-KDE-ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart,KOfficeChart
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.chart
X-KDE-NativeOasisMimeType=application/vnd.oasis.opendocument.chart
X-KDE-ExtraNativeMimeTypes=application/vnd.oasis.opendocument.chart,application/vnd.oasis.opendocument.chart-template
GenericName=Chart
Icon=kchart
