[Desktop Entry]
Name=KChart
GenericName=Chart Generator
Comment=Create graphics and charts
Exec=kchart %u
Type=Application
Icon=kchart
MimeType=application/vnd.oasis.opendocument.chart;application/x-kchart;
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.chart
X-KDE-NativeOasisMimeType=application/vnd.oasis.opendocument.chart
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.koffice.kchart
Categories=Qt;KDE;Office;X-KDE-More;
X-DocPath=kchart/index.html
