[Desktop Entry]
Type=Link
URL=.source/BarChart.chrt
Name=Bar Chart
Name[pt]=Gráfico de Barras
Name[pt_BR]=Gráfico de barras
Name[sv]=Stapeldiagram
Name[x-test]=xxBar Chartxx
Comment=An example of a bar chart
Comment[pt]=Um exemplo de um gráfico de barras
Comment[pt_BR]=Um exemplo de um gráfico de barras
Comment[sv]=Ett exempel på ett stapeldiagram
Comment[x-test]=xxAn example of a bar chartxx
Icon=template_barchart
