[Desktop Entry]
Type=Link
URL=.source/Empty.chrt
Name=Blank Worksheet
Name[cs]=Prázdný sešit
Name[nds]=Leddig Arbeitblatt
Name[pt]=Folha de Trabalho Vazia
Name[pt_BR]=Folha de trabalho vazia
Name[sv]=Tomt arbetsblad
Name[uk]=Порожній аркуш
Name[x-test]=xxBlank Worksheetxx
Icon=template_empty
X-KDE-DefaultTemplate=true
