[Desktop Entry]
Name=Chart Shape
Name[cs]=Tvar grafu
Name[nds]=Form "Diagramm"
Name[pt]=Forma do Gráfico
Name[pt_BR]=Forma do gráfico
Name[sv]=Diagramform
Name[uk]=Форма діаграми
Name[x-test]=xxChart Shapexx
X-KDE-ServiceTypes=KOffice/Shape
Type=Service
X-KDE-Library=chartshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
