[Desktop Entry]
Name=Chart Shape
Name[cs]=Tvar grafu
Name[de]=Diagramm-Objekt
Name[es]=Forma gráfico
Name[et]=Diagrammikujund
Name[fr]=Forme de diagramme
Name[ga]=Giuirléid Chairte
Name[hu]=Diagram alakzat
Name[it]=Forma di grafico
Name[km]=រាង​គំនូស​តាង
Name[nds]=Form "Diagramm"
Name[nl]=Grafiekvorm
Name[pl]=Kształt wykresu
Name[pt]=Forma do Gráfico
Name[pt_BR]=Forma do gráfico
Name[sk]=Tvar grafu
Name[sv]=Diagramform
Name[uk]=Форма діаграми
Name[x-test]=xxChart Shapexx
X-KDE-ServiceTypes=KOffice/Shape
Type=Service
X-KDE-Library=chartshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
