[Desktop Entry]
Type=Service
Name=KChart SVG Export Filter
X-KDE-Import=application/x-kchart
X-KDE-Export=image/svg+xml
X-KDE-Weight=1
X-KDE-Library=kchartsvgexport
X-KDE-ServiceTypes=KOfficeFilter
